<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>겁쟁이사자처럼:Sourced by 김주현</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
{% if question_list %}
    <ul>안녕하세요 겁싸 통인시장 도시락리뷰입니다 <br>현재 리뷰상점은 다음과 같습니다.<br>
    {% for question in question_list %}
        <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>